* {
    
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 227);
    font-family: 'Quicksand', sans-serif;  
    border-style: solid;
    border-color: rgb(215, 224, 83);     
}

.nav { 
    position: absolute;   
    text-align: center;
    left: 0;
    right: 0;          
}

ul li{    
    margin: 10px 90px;
    list-style-type: none;
    display: inline-block;  
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.616), transparent);      
}

li a{     
    text-decoration: none;
    display: block;    
    color: rgb(245, 68, 68);
    position: absolute; 
    z-index: 2; 
    position: fixed;   
    z-index: 8;
}

li a:hover {
    color: rgb(215, 224, 83);
}

.nav img {
    position: absolute;
}

.title {
    text-align: center;
    margin-top: 60px;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}

.lotion {
    display: flex;
    padding-bottom: 15px;          
}

.lotion1 {
    background-color: coral;
    width: 200px;
    margin: 10px;
    text-align: center;
    margin-top: 4rem;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;  
    min-height: 70vh;
    flex-grow: 1;
    flex-basis: 0;
    align-self: flex-end; 
    border: 2px solid hsl(7, 100%, 59%);
}

.lav {    
    
    order: 1;
    background-image: url('../img/IMG_3310.jpg');
    background-size: cover;
    color: rgb(230,230,250);
}

.lem {    
    
    background-image: url('../img/IMG_3374.jpg');
    background-size: cover;
    color: rgb(226,239,66);
}

.tang {    
    
    background-image: url('../img/IMG_3612.jpg');
    background-size: cover;
    color: rgb(243,196,71);
}

p {
    color: black;
}